<!DOCTYPE html>
<html>
  <body>
    <nav>
      <a href="{% url 'home' %}">Home</a> |
       <a href="{% url 'public_feed' %}">Public feed</a> 
       </nav>

    <hr>

    <h1>Public Outfit Feed</h1>
    {% for plan in plans%}
    <div style="margin-bottom: 20px;">
       <strong>{{ plan.user.username }}</strong><br>
        {{ plan.date }} — {{ plan.title }}

        <br>
        <a href="{% url 'public_outfit_detail' plan.id %}">View Outfit</a>
      </div>
    {% empty %}
      <p>No public outfits yet.</p>
    {% endfor %}
  </body>
</html>